html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: monospace;
  background-image: url("/bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.loading, .error {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  color: #000;
  background-color: #FFF;
  border-radius: 3px;
  padding: 10px 20px;
}

.error .container {
  font-size: 6vw;
  color: #FF4444;
}

.loading .container {
  font-size: 10vw;
  color: #000;
}

.login-error {
  color: #FF4444;
}

.row {
  margin: 10px 0;
}

.secondary {
  color: #999;
}